//-
//- speciality-sheet.pug — Vampire 5e
//- ~/templates/items
//-

-
	const Skills = Object.keys(CONFIG.V5E.Skills)
		.sort((a, b) => CONFIG.V5E.Skills[a].localeCompare(CONFIG.V5E.Skills[b]))
		.reduce((dict, key) => ((dict[key] = CONFIG.V5E.Skills[key]) || true) && dict, {});

form.sheet-wrapper.flexcol(class=(cssClass), autocomplete="off")
	header.sheet-header
		img.profile(src=(item.img), alt="", data-edit="img")
		div.sheet-header-details
			h1.v5e-input-element.charname
				input.v5e-input(type="text", name="name", value=(item.name))
				div.v5e-input-border

			ul.sheet-header-summary.flexrow.flex-gap
				li.v5e-input-element
					select.v5e-input(name="data.skill")
						option(value="", selected=(!data.skill))
						each value, key in Skills
							-;
							option(value=(key), selected=(data.skill === key)) #{value}
					div.v5e-input-border

	nav.sheet-tabs.tabs
		a.item(data-tab="description") #{tr('V5E.Description')}
		if game.user.isGM
			-;
			a.item(data-tab="gmnotes") #{tr('V5E.GMNotes')}


	section.sheet-body
		include ./tabs/description-tab.partial.pug
		include ./tabs/gmnotes-tab.partial.pug
