//
// _variables.scss — Vampire 5e
// ~/styles
//

$primary-color: #790813;
$primary-lighter: lighten($primary-color, 7%);

$divider-color: rgba(black, 0.12);

$base-font: "Signika", sans-serif;
$condensed-font: "Modesto Condensed", "Palatino Linotype", serif;
